.form-page-ctn {
    width: 100%;
    height: 100vh;
    background-image: url('../../imgs/login/cooking.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-ctn {
    background-color: white;
    border-radius: 15px;
    width: 30vw;
    min-width: 400px;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.form-header {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.form-header img {
    max-width: 20rem;
    height: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.col {
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.col button {
    background-color: #F26853;
    border: 1px solid #F26853;
    width: 10rem;
    height: 2.5rem;
    cursor: pointer;
    color: white;
    margin-bottom: 0.5rem;
    transition: 0.5s;
}

.col button:hover {
    color: white;
    transform: scale(1.1);
}

.header {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}

.input-wrapper-login {
    width: 60%;
    margin: 0.5em;
    display: flex;
    justify-content: center;
}

.input-wrapper-login input{
    width: 100%;
    height: 2rem;
    border: 1px solid #F26853;
    text-indent: 10px;
    margin-bottom: 1.1rem;
    border-radius: 5px;
}

.input-wrapper-create {
    width: 60%;
    margin: 0.2em;
    display: flex;
    justify-content: center;

}

.input-wrapper-create input{
    width: 100%;
    height: 2rem;
    border: 1px solid #F26853;
    text-indent: 10px;
    margin-bottom: 1.0rem;
    border-radius: 5px;
}

.checkBoxDiv {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.checkBox {
    margin-right: 0.2rem;
}

.createFormText {
    width: 60%;
    height: 2rem;
}

.pCreate {
    color: black;
    text-align: center;
}

.pCreate a {
    color: #F26853;
    text-decoration: underline;
    cursor: pointer;
}

.pCreate a:hover {
    color: #53ddf2;
}
