.dashboard-ctn {
    background-color: white;
    width: 100vw;
    height: 160vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.top-div {
    /* background-color: aquamarine; */
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    background-color: #faf9f6;
}

.spacer {
    background-color: #faf9f6;
    height: 3rem;
    width: 100%
}

.search-ctn {
    background-color: beige;
    background-image: url('../../imgs/dashboard/steak.jpg');
    background-position: center;
    background-size: 1500px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}

.search-box {
    background-color: white;
    border: 2px solid #F26853;
    height: 50px;
    width: 300px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.search-icon {
    /* background-color: violet; */
    height: 80%;
    width: 60px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button {
    border: none;
    height: 25px;
    margin-left: 0.7rem;
    padding: 0 0.3rem;
    background-color: #F26853;
    color: #fff;
}

.search-bar {
    /* background-color: rgb(49, 49, 20); */
    height: 70%;
    width: 239px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.addCardDiv {
    /* background-color: brown; */
    width: 80%;
    height: 6%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.addCard {
    background-color: #ABC9D5;
    height: 100%;
    border-radius: 30px;
    width: 30%;
    display: flex;
    align-items: center;
}



.trending-div-title {
    /* background-color: tomato; */
    width: 80%;
    height: 25px;
}

.trending-div {
    /* background-color: darkgoldenrod; */
    width: 95%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: scroll;
}



.trendingFoodCard {
    /* background-color: darkkhaki; */
    background-size: cover;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    margin-left: 2rem;
    overflow: hidden;
}



.trendingFoodCardImg {
    /* background-color: #F26853; */
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 150px;
}

.trendingFoodCardImg img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.trendingFoodCardText {
    /* background-color: rgba(0, 0, 0, 0.519); */
    width: 100%;
    height: 50px;
}

.trendingFoodCardText h5 {
    color: black;
    font-size: 18px;
    margin-left: 10px;
}

.trendingFoodCardText p {
    color: black;
    font-size: 15px;
    margin-left: 10px;
}

.createCardDiv {
    background-color: #F26853;
    background-image: url('../../imgs/dashboard/plate.png');
    border: 1px solid black;
    background-size: 250px;
    background-position: center;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-left: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.createCard {
    /* background-color: #ABC9D5; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60%;
    width: 100%;
}

.addCardPlus {
    /* background-color: darkolivegreen; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: black;
}

.addCardText {
    /* background-color: darkblue; */
    width: 100%;
    height: 40%;
}

.addCardText h3 {
    color: black;
}

.addCardText h4 {
    color: #474747;
}

.categories {
    background-color: #F26853;
    border-radius: 10px;
    width: 90%;
    height: 40px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories h4 {
    /* background-color: #474747; */
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.categoriesTabs {
    display: flex;
    justify-content: space-between;
    /* background-color: #ABC9D5; */
    width: 85%;

}

.categories h5 {
    margin-left: 1rem;
    /* background-color: red; */
    width: 100px;
    height: 30px;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories h5:hover {
    background-color: white;
}

.cuisineTabs:hover {
    box-shadow: inset 100px 0 0 #fff;
    
}

.activeCuisineTab {
    background-color: white;
    color: #F26853;
}

.categoryCardDiv {
    /* background-color: sandybrown; */
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.categoryCard {
    /* background-color: darkorchid; */
    /* background-image: url('../../imgs/dashboard/steak.jpg'); */
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    box-shadow: #474747 6px 8px 8px;
    transition: 0.5s;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

.categoryCard:hover {
    transform: scale(1.2);
    z-index: 2;
}

.categoryCardImg {
    background-color: black;
    height: 60%;
}

.categoryCardImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.categoryCardText {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40%;
}

.categoryCardText > h3, .categoryCardText > p {
    /* background-color: darkcyan; */
    width: 100%;
    color: black;
    margin-left: 1rem;
}

.categoryCardText h3 {
    /* background-color: darkgoldenrod; */
    font-size: 16px;
}

.categoryCardText p {
    font-size: 10px;
}

.categoryCardText .cuisine {
    width: auto;
    padding: 0 0.15rem;
    text-align: center;
    background-color: #F26853;
    color: white;
    border-radius: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

